<template>
    <div>

      <transition name="modal">
          <!-- The Infos Modal -->
          <div id="myModal" class="modal modal-container" v-if="showModal">

            <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" @click="showModal = false">&times;</button>
                <h2>Veja mais informações</h2>
              </div>
              <div class="modal-body">
                
              <div class="ui container">
                <div class="ui stackable grid">
                  <div class="row">
                    <div class="four wide column"></div>
                    <div class="eight wide column">

                      <span class="item-title">Título:</span>
                      <br>{{ chosenGif.title }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="four wide column"></div>
                    <div class="eight wide column">
                        <span class="item-title">ID:</span> 
                        <br>{{ chosenGif.id }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="four wide column"></div>
                    <div class="eight wide column">
                      <span class="item-title">Data de upload:</span> 
                      <br>{{ chosenGif.import_datetime }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="four wide column"></div>
                    <div class="eight wide column">
                      <span class="item-title">URL:</span> 
                      <br>{{ chosenGif.url }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="four wide column"></div>
                    <div class="eight wide column">
                      <span class="item-title">Bitly URL:</span> 
                      <br>{{ chosenGif.bitly_url }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="four wide column"></div>
                    <div class="eight wide column">
                      <span class="item-title">Embed URL:</span> 
                      <br>{{ chosenGif.embed_url }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="four wide column"></div>
                    <div class="eight wide column">
                        <img class="ui fluid image centered" :src="'https://media.giphy.com/media/'+ chosenGif.id + '/giphy.gif'">
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <!-- <div class="modal-footer">
                <h3>Modal Footer</h3>
              </div> -->
            </div>

          </div>
        <!-- End Infos Modal -->     
      </transition>







  <div class="gallery">
    
    <div class="gallery-panel" :class="{imagem : gif.id}"
          v-for="(gif, index) in allGifs" :key="index">

      <a @click="getGifs(gif.id)">
        <img :src="gif.url">
      </a>

      <button class="delete-btn" @click="shootDelete(index)"><i class="far fa-trash-alt"></i></button>
      <button class="edit-btn" @click="shootEdit(gif, index)" v-if="!gif.id"><i class="fas fa-pencil-alt"></i></button>
    </div>
    
  </div>



    </div>
</template>

<script>
import Gifs from '../../../services/gifs';
import Swal from 'sweetalert2'

export default {
    name: 'Gallery',
    props: [ 'allGifs' ],

    data() {
        return {

            showModal: false,
        }
    },
    methods: {
        getGifs(chosenId) {
            Gifs.getById(chosenId, gifInfos => {
            this.chosenGif = gifInfos.data.data;
            this.showModal = true
            
        })
        
        },

        shootDelete(index) {
            Swal.fire({
                    title: 'Tem certeza que deseja deletar?',
                    text: "Você não poderá desfazer mais tarde",
                    icon: 'warning',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ok',
                    showCancelButton: true,
                    cancelButtonText: 'Não',
                    })
                .then((result) => {
                    if (result.value) {
                        Swal.fire({
                        icon: 'success',
                        title: 'Oba!',
                        text: 'Gif deletado com sucesso!'
                        })
                        this.$emit('removeGif', index)
                    } else {
                        Swal.fire({
                        icon: 'warning',
                        title: 'Ufa!',
                        text: 'Seu Gif está salvo!'
                        })
                    }
                })
        },

        shootEdit(gif, index) {
            var object = {indice: index, id: gif.id, url: gif.url}
            this.$emit('editGif', object )
            
        }
    }
}
</script>

<style scoped>
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 1rem;
    /* max-width: 80rem; */
    margin: 5rem auto;
    padding: 0 5rem;
  }
  .gallery-panel img {
    width: 100%;
    height: 22vw;
    object-fit: cover;
    border-radius: 0.75rem;
  }
  .delete-btn {
      position: absolute;
      transform: translate(-50px, 10px);
      border-radius: 50%;
      width:40px;
      height:40px;
      background-color: rgb(255, 58, 49);
      color: white;
      border: 0.5px solid #999;
  }
  .delete-btn:hover {
      cursor:pointer;
  }

    .edit-btn {
      position: absolute;
      transform: translate(-100px, 10px);
      border-radius: 50%;
      width:40px;
      height:40px;
      background-color: rgb(57, 57, 214);
      color: white;
      border: 0.5px solid #999;
  }
   .edit-btn:hover {
      cursor:pointer;
  }

     
    /* The Modal (background) */
    .modal {
      position: fixed;
      z-index: 1;
      padding: 3rem 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
    }
    .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      border: 1px solid #888;
      width: 90%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
    }

    /* Animation */
    @-webkit-keyframes animatetop {
      from {top:-300px; opacity:0} 
      to {top:0; opacity:1}
    }

    @keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
    }
    .close {
      color: rgba(0,0,0,.7);
      float: right;
      border-color: transparent;
      margin-top: .5rem;
      font-size: 2rem;
      height: 46px;
      width: 46px;
      /* box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12); */
      border-radius: 50%;
      text-align: center;
      line-height: 1.5em;
      background-color: transparent;
    }
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      opacity: .7;
    }
    .modal-header {
      padding: 2px 16px 10px 16px;
      color: rgba(0,0,0,.7);
      border-bottom: 1px solid rgba(0,0,0,.2);
      margin-bottom: 1rem;
    }
    .modal-body {padding: 2px 16px;}
    .modal-footer {
      height: 55px;
      padding: 10px 16px;
      color: white;
      border-top: 1px solid rgba(0,0,0,.2);
    }
  /* end modal and transitions */

  .imagem:hover {
      cursor: pointer;  
  }
</style>