<template>
  <div>

      <h1 class="ui center aligned header" style="margin: 5rem 3rem">Adicione um GIF ou digite um tema para buscar</h1>

      <div class="ui container" style="padding: 0 2rem 0 1rem;">
        <div class="ui stackable grid">
          <div class="row">
          <div class="four wide column"></div>
          <div class="eight wide column">

            <div class="ui fluid huge action input">
              <input type="text" placeholder="Buscar GIF" v-model="searchWords">
              <div class="ui button" @click="search(limitImages, searchWords);">
                <i class="search icon"></i>
              </div>
            </div>
          </div>
          <div class="four wide column"></div>
        </div>
        </div>
      </div>



    <Gallery v-bind:allGifs="gifsShow" @removeGif="deleteGif($event)" @editGif="gifEdit($event)"></Gallery>

    <h3 v-if="noResult" class="ui center aligned header">Sua busca não gerou resultados...</h3>

    <!-- <div class="ui segment" v-if="loading">
      <div class="ui active inverted dimmer" style="margin-bottom: 500px !important">
        <div class="ui text loader">Loading</div>
      </div>
      <p></p>
    </div> -->
    
    <div v-observe-visibility="handleScrolledToBottom" v-if="gifsShow.length" style="color: transparent">display</div>

    <Cadastro v-bind:allGifs="gifsShow" @saveNewGif="gifSave($event)" @finishEdit="editFinish($event)" ref="cadastro"></Cadastro>
    


  </div>
</template>

<script>
import Gifs from '../../../services/gifs';
import Gallery from '../gallery/Gallery.vue'
import Cadastro from '../cadastro/Cadastro.vue'

export default {
name: 'Search',
  components: { Gallery, Cadastro },

  data() {
    return {
      gifsReturn: [],
      gifsShow: [],
      limitImages: 12,
      searchWords: '',
      chosenGif: '',
      noResult: false,
      loading: false,
      
    }
  },

  created() {

    // this.search(this.limitImages, this.searchWords);
    // this.getGifs('QsllPdKLHJMh6oLWSC')
  },
  methods: {
    search(limit, searchSentence) {
      this.loading = true
      this.gifsShow = []
      Gifs.searchGifs(limit, searchSentence, gifs => {
        this.gifsReturn = gifs.data.data;
          for(var i = 0; i < this.gifsReturn.length; i++) {
          var id = this.gifsReturn[i].id
          var object = {id: id, url: 'https://media.giphy.com/media/' + id + '/giphy.gif'}
          this.gifsShow.push(object)
        }
        
        if(!this.gifsShow.length) {
          this.noResult = true
        } else {
          this.noResult = false
        }
      })
    },
    renewSearch(limit, searchSentence) {
      Gifs.searchGifs(limit, searchSentence, gifs => {
        this.gifsReturn = gifs.data.data;

        for(var i = 0; i < this.gifsReturn.length; i++) {
          var id = this.gifsReturn[i].id
          var object = {id: id, url: 'https://media.giphy.com/media/' + id + '/giphy.gif'}
          const check = this.gifsShow.some(e => e.id === object.id);
          if(check == false) {
            this.gifsShow.push(object)
          }
        }

      })
    },
    handleScrolledToBottom(isVisible) {
      this.loading = true
      if (!isVisible) {
        return
      }
      this.limitImages = this.limitImages + 12
      this.renewSearch(this.limitImages, this.searchWords);
    },

    deleteGif(value) {
      this.gifsShow.splice(value,1)
    },
    gifSave(gifInfos) {
      this.gifsShow.unshift({id: gifInfos.id, url: gifInfos.url})
    },
    gifEdit(gifInfos) {
      this.$refs.cadastro.addEdit(gifInfos)
    },
    editFinish(infosToEdit) {
      this.gifsShow[infosToEdit.index].url = infosToEdit.url
    }

    
    



  }

}
</script>

<style>
</style>

<style scoped>  


/* Modal and transitions */
   

.imagem:hover {
  cursor: pointer;
}
.item-title {
  font-size: 12px;
  color: rgba(0,0,0,.6);
  text-transform: uppercase;
}
.item-margin {
  margin: 10px;
}

.button {
  border: 1px solid rgba(0,0,0,.2);
  font-size: 20px;
}
.icon {
  margin: 0 0 0 -.21428571em !important; 
}

.ui.segment {
  padding: 0;
  border: 0px solid rgba(34,36,38,.15);
}
</style>
