<template>
  <div>  

      <transition name="modal">
          <!-- The Add Modal -->
          <div id="myModal" class="modal modal-container" v-if="modalShow2">

            <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" @click="modalShow2 = false, edit = false, resetVariables()">&times;</button>
                <!-- <button class="close" @click="showModal=true">&times;</button> -->
                <h2 v-if="edit == false">Adicione um novo GIF</h2>
                <h2 v-if="edit == true">Edite seu GIF</h2>
              </div>
              <div class="modal-body">
                
              <div class="ui container">
                <div class="ui stackable grid">
                  <div class="row">
                    <div class="three wide column"></div>
                    <div class="ten wide column">
                      <span class="item-title">Adicione uma URL:</span>
                      <br>
                      <div class="ui fluid large icon input" style="margin-bottom: 2rem;">
                        <input type="text" placeholder="Digite uma URL" v-model="gifUrl">
                      </div>

                      <img id="imgId" :src="gifUrl" @load="onImgLoad" @error="onImgError" v-show="!isFormInvalid" style="margin-bottom: 2rem;">

                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="modal-footer">
                
                <button class="positive small ui button right floated" @click="saveGif()" :disabled="isFormInvalid" v-if="edit == false">Adicionar</button>
                <button class="positive small ui button right floated" @click="editGif()" :disabled="isFormInvalid" v-if="edit == true">Editar</button>
              </div>
            </div>

          </div>
        <!-- End Add Modal -->     
      </transition>

        <button @click="modalShow2 = true" class="float">
            <i class="fa fa-plus my-float"></i>
        </button>


</div>

</template>

<script>
import Swal from 'sweetalert2'

export default {
    name: 'Cadastro',
    props: [ 'allGifs' ],
    
    data() {
        return {

            gifUrl: '',
            modalShow2: false,
            edit: false,
            isFormInvalid: true,
            gifIndex: ''
        }
        
    },
    methods: {
        saveGif() {
            if(this.isFormInvalid == false) {
                var newGifInfos = {id: '', url: this.gifUrl}
                this.$emit('saveNewGif', newGifInfos),
                Swal.fire({
                    title: 'Adicionado',
                    text: "Seu novo gif foi adicionado com sucesso!",
                    icon: 'success',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ok'
                    })
                .then((result) => {
                    if (result.value) {
                        this.modalShow2 = false
                        this.resetVariables()
                    }
                })

            } else if (this.isFormInvalid == true) {
                console.log('invalido')
            }
        },
        onImgLoad () {
            this.isFormInvalid = false
        },
        onImgError() {
            this.isFormInvalid = true
        },
        resetVariables() {
            this.newGifTitle = ''
            this.gifUrl = ''
            this.gifIndex = ''
        },
        addEdit(infos) {
            this.edit = true
            this.modalShow2 = true
            this.gifUrl = infos.url
            this.gifIndex = infos.indice
        },
        editGif() {
            if(this.isFormInvalid == false) {
                Swal.fire({
                    title: 'Tem certeza que deseja editar?',
                    text: "Você não poderá desfazer!",
                    icon: 'warning',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ok',
                    showCancelButton: true,
                    cancelButtonText: 'Cancelar',
                    })
                .then((result) => {
                    if (result.value) {
                        var gifToEdit = {index: this.gifIndex, url: this.gifUrl}
                        this.$emit('finishEdit', gifToEdit)
                        this.modalShow2 = false
                        this.resetVariables()
                        Swal.fire({
                        icon: 'success',
                        title: 'Oba!',
                        text: 'Gif editado com sucesso!'
                        })
                    } else {
                        Swal.fire({
                        icon: 'warning',
                        title: 'Ufa!',
                        text: 'Seu Gif foi recuperado!'
                        })
                    }
                })

            } else if (this.isFormInvalid == true) {
                console.log('invalido')
            }
        }
    }
}
</script>

<style scoped>

/* Modal and transitions */
      
    /* The Modal (background) */
    .modal {
      position: fixed;
      z-index: 1;
      padding: 3rem 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
    }
    .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      border: 1px solid #888;
      width: 90%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
    }

    /* Animation */
    @-webkit-keyframes animatetop {
      from {top:-300px; opacity:0} 
      to {top:0; opacity:1}
    }

    @keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
    }
    .close {
      color: rgba(0,0,0,.7);
      float: right;
      border-color: transparent;
      margin-top: .5rem;
      font-size: 2rem;
      height: 46px;
      width: 46px;
      /* box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12); */
      border-radius: 50%;
      text-align: center;
      line-height: 1.5em;
      background-color: transparent;
      

    }
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      opacity: .7;
    }
    .modal-header {
      padding: 2px 16px 10px 16px;
      color: rgba(0,0,0,.7);
      border-bottom: 1px solid rgba(0,0,0,.2);
      margin-bottom: 1rem;
    }
    .modal-body {padding: 2px 16px;}
    .modal-footer {
      height: 55px;
      padding: 10px 16px;
      color: white;
      border-top: 1px solid rgba(0,0,0,.2);
    }
  /* end modal and transitions */


  

/* float button */
  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:30px;
    right:50px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50%;
    text-align:center;
    box-shadow: 3px 3px 3px #999;
    font-size: 20px;
    border: 0.5px solid #999;
  }

  .float:hover {
    cursor: pointer;
    background-color: #cacbcd;
      background-image: none;
      -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
      box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
      color: rgba(0,0,0,.8);
  }

  .my-float{
    margin-top:5px;
  }
</style>