<template>
  <div id="app">
    
    <Search></Search>
    <!-- <Gallery></Gallery> -->
    <!-- <Cadastro></Cadastro> -->




  </div>
</template>

<script>
import Search from './components/search/Search.vue'
// import Cadastro from './components/cadastro/Cadastro.vue'
// import Gallery from './components/gallery/Gallery.vue'


  export default {
    name: 'app',
    components: { Search }
  }
</script>

<style>
</style>

<style scoped>  
  
</style>
